<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="../static/css/administrador.css">
</head>

<body>

    {% set menssagem = get_flashed_messages() %}
    {% if menssagem %}
        <div class="flash_alerta">
            {{menssagem[0]}}
        </div>
    {% endif %}
        <h1 class="titulo">administrador</h1>

    <div id="form_fundo">
        <h1>CADASTRAR USUARIO</h1>
        <h1>@kevenigor</h1>
        <div id="form_frente">
            <form action="/cadastrarUsuario" id="login" method="post">
                <label for="nome">NOME</label>
                <input type="text" name="nome" id="nome" required placeholder="Digite seu nome"><br><br>
                <label for="senha" id="senha">SENHA</label>
                <input type="text" name="senha" id="senha" required placeholder="Digite sua senha"><br><br>
                <button type="submit" id="btn_login">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>CADASTRAR

                </button>
            </form>
        </div>
    </div>
    <div id="form_fundo" class="listaUsuarios">
        <h1>USUARIOS CADASTRADOS</h1>
        <h1>@kevenigor</h1>
        <div id="form_frente" class="listaUsuarios">
            {% if usuarios %}
                {% for c in usuarios %}
                <form action="/excluirUsuario" method="post">
                    <ul>
                        <input type="hidden" name="usuarioPexcluir" value="{{c[0]}}">
                        <input type="hidden" name="nome" value="{{c[1]}}">
                        <li>NOME: {{c[1]}}</li><br>
                        <li>SENHA: {{c[2]}}</li>
                    </ul>
                    <button type="submit">EXCLUIR</button>
                </form>
                    ---------------------------------------------
                {% endfor %}
            {% else %}
            <h1>nao existe usuarios cadastrados</h1>
            {% endif %}
        </div>
    </div>


    <div id="form_fundo" class="upload">
        <h1>ENVIAR ARQUIVOS</h1>
        <div id="form_frente" class="upload">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="documento" id="documento"><br><br><br>
                <button type="submit">ENVIAR</button>
            </form>

        </div>
    </div>



</body>

</html>