<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="/001/static/css/home.css">
</head>

<body>

    <div id="form_fundo">
        <h1>LOGIN</h1>
        <h1>@kevenigor</h1>
        <div id="form_frente">
            <form action="/login" id="login" method="post">
                <label for="nome">NOME</label>
                <input type="text" name="nome" id="nome" required placeholder="Digite seu nome"><br><br>
                <label for="senha" id="senha">SENHA</label>
                <input type="password" name="senha" id="senha" required placeholder="Digite sua senha"><br><br>
                <button type="submit" id="btn_login">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>ENTRAR

                </button>
            </form>
        </div>
    </div>

</body>

</html>