

@import url(../css/home.css);


.titulo{
    backdrop-filter: blur(30px);
    font-size: 50px;
    border-radius: 30px;
    font-weight: bold;
    text-align: center;
}

div#form_fundo{
    margin: 2% 50% 5% 5% ;

}
